* {
  margin: 0;
  padding: 0; }

.tamLogo {
  width: 100px;
  height: 100px; }

.nav-link {
  color: white; }

.sanitosNav {
  background-color: #696969;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: auto;
  margin: auto;
  text-align: center; }

h1 {
  font-family: impact sans-serif;
  color: black;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  background-color: gainsboro; }

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: bold; }

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: auto;
  top: 0; }

section {
  grid-area: section;
  background-color: #DCDCDC;
  color: black;
  text-transform: uppercase;
  padding: auto;
  margin: auto;
  text-align: center; }

.galeria {
  display: grid;
  padding: auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(14, 1fr);
  grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9" "img10" "img11" "img12" "img13" "img14";
  gap: 20px; }

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11, .img12, .img13, .img14 {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 30%;
  background-size: 100% auto; }

@media screen and (min-width: 720px) {
  .galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img1 img2 " "img3 img4 " "img5 img6 " "img7 img8 " "img9 img10" "img11 img12" "img13 img14"; } }

@media screen and (min-width: 1360px) {
  .galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img1 img2 img3" "img4 img5 img6" "img7 img8 img9" "img10 img11 img12" "img13 img14"; } }

footer {
  background-color: #F44336;
  color: white;
  text-align: center; }
