$color-texto: black;
$tamaño-fuente:2rem;

h1{
    font-family: impact sans-serif; 
    color: $color-texto;
    text-align: center;
    font-size: $tamaño-fuente;
    font-weight: bold;
    background-color:gainsboro;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;
    top: 0;
}

section{
    grid-area:section;
    background-color: #DCDCDC;
    color:$color-texto;
    text-transform: uppercase;
    padding: auto;
    margin: auto;
    text-align: center;
    
}
.galeria{
    display: grid;
    padding:auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14,1fr);
    grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9"
    "img10"
    "img11"
    "img12"
    "img13"
    "img14";
    gap: 20px;
}