$color-texto: black;
$tamaño-fuente:2rem;
/*las contiene todas las paginas*/
h1{
    font-family: impact sans-serif; 
    color: $color-texto;
    text-align: center;
    font-size: $tamaño-fuente;
    font-weight: bold;
    background-color:gainsboro;
    text-transform: uppercase;
}
.especialidades {
    font-size:1rem;
    text-align: center;
    height: 80px;
    margin: 50px
}
.card-img  {
    height: 290px;
    
    text-align: center;
}   
    
   
    
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}
/*el cuerpo de todas las paginas*/
body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
    padding: auto;
    top: 0;
}
/*inicio y contacto*/
section{
    grid-area:section;
    background-color: #DCDCDC;
    color:$color-texto;
    text-transform: uppercase;
    padding: auto;
    margin: auto;
   
    
}
/*css de pagina especialidades*/
.galeria{
    display: grid;
    background-color: white;
    text-align: center;
    padding:auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(14,1fr);
    grid-template-areas:
    "img1"
    "img2"
    "img3"
    "img4"
    "img5"
    "img6"
    "img7"
    "img8"
    "img9"
    "img10"
    "img11"
    "img12"
    "img13"
    "img14";
    gap: 100px;
}
.galeriaImg {
    background-color: #F5F5F5;
    border-radius: 10%;

}


/*logo de whatsapp*/
.botonWhatsApp {
    width: 70px;
    position: fixed;
    top: 50%;
    bottom: 10px;
    right: 10px;
}
/*boostrap esta en chequeos*/
.carouselExampleCaptions{
    margin-top: auto;
    padding-top: auto
    ;
}
/*chequeos*/
li{
    text-transform: uppercase;
    font-size:20px;
    color:$color-texto;
}
/*en pagina de estudios*/
.padreEstudios{
    display: flex;
    padding-top: auto;
    margin-top: auto;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    grid-area:padreEstudios;

    
}
.hijoEstudios{
    margin: 20px;
    padding: 20px;
     border: 1px solid gray;
     box-shadow: 5px 5px 5px;
     text-align: center;
     grid-area:hijoEstudios;
}
.imgEstudios{
    width: 200px;
    height: 200px;
}
h2{
    text-align: center;
    font-size: 20px;
    color: $color-texto;
}
h3 h4{
    text-align: center;
    font-size: 3rem;
    color: $color-texto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    
}
p{
    color: $color-texto;
    font-size: $tamaño-fuente;
}
/*pag nosotros*/
.nosotros{
    text-align: center;
}
.card{
    background-color: rgb(219, 218, 218);
    padding: 20px;
    margin: 20px;
}
/*contacto*/
.form1{
    text-align: center;
    background-color:rgb(219, 218, 218) ;
    text-transform: uppercase;
    font-weight: bold;
}
.logos{
    width: 40px;
    height: 40px;
}

.redes{
    text-align: center;
    background-color: white;
    padding: 30px;
}
.card-group{
    padding: 20px;
    margin: 20px;
}

    